/build/
*/build/
.nb-gradle/
.gradle/
/pinetrail-gpx/src/test/resources/2014-05-18_Wispertal.out.gpx
/pinetrail-gpx/src/test/resources/2014-05-18_Wispertal.route.gpx
/pinetrail-gpx/private/cache/retriever/www.topografix.com/gpx.asp