<configuration scan="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyyMMdd'T'HHmmss'Z',UTC} | %-5level | %-5marker | %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ws.sosna.pinetrail.core" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
